
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    
}


#grid {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    margin: 0;
}


header {
    font-size: 2rem;
    font-weight: 600;
    grid-area: header;
    padding: 0;
    margin: 0;
    background-color: #7DC6FB;
    color: #fff;
    text-align: center;
}


header nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: transparent;
}

header section {
    color: #000000;
}

header li a {
    text-decoration: none;
    color: #000000;
}


header h6 {
    max-width: 80%;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

#logo {
    text-decoration: none;
}

.navbar {
    display: none;
}


.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #242424;
    margin: 0;
    padding: 0;
    top: 40px;
    width: 100%;
    list-style: none;
}

.responsive a {
    color: #fff;
    display: block;
    padding: 1rem 0;
    text-align: center;
    text-decoration: none;
}




#sub-navbar {
    background-color: #0a4f8a;
    padding: 0.5rem 0;
}

#sub-navbar .sub-navbar {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#sub-navbar .sub-navbar li {
    padding: 0 1rem;
}

#sub-navbar .sub-navbar li a {
    color: #fff;
    text-decoration: none;
}


main {
    grid-area: main;
    text-align: center;
}

main section img {
    width: 100%;
}


footer {
    grid-area: footer;
}


#Tjenester {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #7DC6FB;
    padding: 1rem;
    justify-content: space-around;
}

#Tjenester h2 {
    width: 100%;
    text-align: center;
}

#Tjenester article {
    max-width: 300px;
    width: 100%;
    min-width: 200px;
}


@media only screen and (min-width: 600px) {
    #grid {
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

    #Tjenester {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        margin: 0;
    }

    #ham, .fa-magnifying-glass {
        display: none;
    }

}

 
@media (max-width: 600px) {

    #grid {
        grid-template-areas: "header" "main" "footer";
    }

    #Tjenester {
        flex-direction: column;
        align-items: center;
    }

    header li {
        margin: 0 10px;
    }

    header li a {
        max-width: none;
    }

    .navbar {
        display: flex;
        align-items: center;
    }

    .navbar i {
        font-size: 2rem;
        margin: 0 10px;
    }

    header {
        font-size: 1.5rem; 
    }

    header nav {
        flex-direction: column; 
        align-items: center;
    }

    header section h6{
        max-width: 100%;
        text-align: center;
    }


    main section h2{
        max-width: 100%;
        text-align: center;
        padding: 10px 0px;
   
    }

    main section img {
        max-width: 100%; 
    }

    .search-bar {
        padding: 5px; 
    }

    .search-bar input[type="text"] {
        padding: 5px; 
    }

    .nav-content {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
 
    }

    .nav-content i {
        font-size: 2rem;
        margin-left: 10px;
    }


    

    .flex {
        flex-direction: column; 
    }

    .main {
        padding: 10px;
    }

    .produkt-container {
        flex-direction: column;
        align-items: center;
    }
    
    .produkt-container img {
        max-width: 100%;
        margin-right: 0px;
    }

    .produkt-info {
        margin: 20px;
        text-align: center;
    }

    .Legg-til-i-handlekurv {
        padding: 10px 20px;
    }

    #Tjenester {
        flex-direction: column;
        display: flex;
        align-items: center;
        background-color: #7DC6FB;
        padding: 1rem;
    }


    
    #Tjenester article {
        max-width: 100%;
        width: 100%;
        min-width: 200px;
    }
    
}




#sub-navbar {
    background-color: #47A8EF;
}

#grid header *#sub-navbar .sub-navbar li a {
    color: #000000;
    text-decoration: none;
}

.sub-navbar {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.sub-navbar li {
    padding: 0 1rem;
}

.sub-navbar li a {
    color: #fff;
    text-decoration: none;
}

a.custom {
    text-decoration: none;
    color: #000000;
}

.Farge-endring {
    color: #a5a5a5;
}
.search-bar {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.search-bar input[type="text"] {
    border: 2px solid #000;
    padding: 0px;
    border-radius: 20px;
    outline: none;
}

main .produkt-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

main .produkt-container img {
    max-width: 100%;
    margin-right: 0px;
}

main .produkt-info {
    margin: 20px;
    text-align: left;
}

main .produkt-info h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

main .produkt-info p {
    margin: 20px 0;
}

main .produkt-info .Legg-til-i-handlekurv {
    display: inline-block;
    padding: 40px 60px; 
    background-color: #7DC6FB; 
    color: #fff;
    font-weight: bold;
    text-decoration: none; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

main .produkt-info .Legg-til-i-handlekurv:hover {
    background-color: #7DC6FB; 
}

.produkt-container .Polarvakt-endring {
    color:#69EDFF;
}

#om-oss {
    max-width: 800px; 
    margin: 0 auto; 
  }

  #om-oss p {
    margin: 20px 0; 
    font-weight: bold;
  }

  .sko-og-knapp{
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .sko-og-knapp select {
    margin: 10px;
  }

  .sko-og-knapp button {
    width: 100%;
  }